<!DOCTYPE html>
<html>
    <head>
        {% include('header/_header.html.twig') %}
    </head>


    <body>
    {% block body %}

        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div id="sidebar">
                        {% block sidebar %}
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="{{ path('stock_exchange_stock_add') }}">Add stock</a></li>
                                <li><a href="{{ path('stock_exchange_stock_list') }}">Stocks list</a></li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
                <div class="col">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
