<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/bootstrap-5.3.2/css/bootstrap.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/bootstrap-5.3.2/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
</html>
